<%= image_tag "spotify-logo.png", alt: "Spotify logo", class: "mr-4 w-auto h-[28px] size6:h-[35px] size4:h-[40px]" %>
<h1 class="text-lg size6:text-2xl size4:text-3xl font-medium text-knoiz-blanc"><%= title %></h1>
