<!-- subscription-app/app/views/users/info.html.erb -->
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<div class="mx-auto my-auto">
  <h1 class="text-3xl font-medium text-knoiz-blanc mb-8">Knoiz - Stream smarter, not harder.</h1>
  <!-- Comparison table -->
  <div class="bg-spotify-noir max-w-2xl lg:max-w-7xl rounded-3xl">
    <!-- xs to lg -->
    <div class="space-y-24 lg:hidden">
      <section>
        <div class="mb-8 px-6 sm:px-4">
          <h2 class="text-lg font-medium leading-6 text-knoiz-blanc">Free</h2>
          <p class="mt-4">
            <span class="text-4xl font-bold tracking-tight text-knoiz-blanc">$0</span>
          </p>
          <p class="mt-4 text-sm text-knoiz-blanc">Discover the basic features of Knoiz for free, but with some restrictions. Create one personalized playlist per day and access a preview of your Spotify statistics to track your music activity.</p>
        </div>
        <table class="w-full">
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Create playlists.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <span class="block text-right text-sm text-knoiz-blanc">One per day</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Lastly played song.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Most listened genres.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/minus -->
                <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Your 50 top Listened.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <span class="block text-right text-sm text-knoiz-blanc">Only five</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">50 Recently played tracks.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <span class="block text-right text-sm text-knoiz-blanc">Only five</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Top 50 global charts tracks.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <span class="block text-right text-sm text-knoiz-blanc">Only five</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="border-t border-gray-200 px-6 pt-5 sm:px-4">
        </div>
      </section>
      <section>
        <div class="mb-8 px-6 sm:px-4">
          <h2 class="text-lg font-medium leading-6 text-knoiz-blanc">Plus</h2>
          <p class="mt-4">
            <% if @current_user %>
              <% if @current_user.subscription.stripe_user_id.present? %>
                <span class="text-4xl font-bold tracking-tight text-knoiz-blanc">$1.99</span>
                <span class="text-base font-medium text-knoiz-blanc">/wk</span>
              <% else %>
                <span class="text-4xl font-bold tracking-tight text-knoiz-blanc">7 days free</span><br>
                <span class="text-base font-medium text-knoiz-blanc">Then $1.99/wk</span>
              <% end %>
            <% else %>
              <span class="text-4xl font-bold tracking-tight text-knoiz-blanc">7 days free</span><br>
              <span class="text-base font-medium text-knoiz-blanc">Then $1.99/wk</span>
            <% end %>
          </p>
          <p class="mt-4 text-sm text-knoiz-blanc">Unlock all features with Knoiz Plus and get the ultimate music experience. Access exclusive characteristics to create personalized playlists and track detailed statistics of your Spotify account.</p>
          <%= form_with url: '/checkout_session/create', data: { turbo: false } do |form| %>
            <%= form.submit "Get started today", class: "mt-4 cursor-pointer inline-block w-full rounded-lg bg-knoiz-violet-principale px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md hover:bg-knoiz-violet-principale-hover" %>
          <% end %>
        </div>
        <table class="w-full">
          <thead>
            <tr>
              <th class="sr-only" scope="col">Feature</th>
              <th class="sr-only" scope="col">Included</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Create playlists.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <span class="block text-right text-sm text-knoiz-blanc">Unlimited</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Lastly played song.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Most listened genres.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Your 50 top Listened.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">50 Recently played tracks.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
            <tr class="border-t border-gray-200">
              <th class="py-5 px-6 text-left text-sm font-normal text-knoiz-blanc sm:px-4" scope="row">Top 50 global charts tracks.</th>
              <td class="py-5 pr-6 sm:pr-4">
                <!-- Heroicon name: mini/check -->
                <svg class="ml-auto h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <!-- lg+ -->
    <div class="hidden lg:block">
      <table class="h-px w-full table-fixed">
        <caption class="sr-only">
          Pricing plan comparison
        </caption>
        <thead>
          <tr>
            <th class="w-1/3 pb-4 pl-6 pr-6 text-left text-sm font-medium text-knoiz-blanc" scope="col">
              <span class="sr-only">Feature by</span>
              <span>Plans</span>
            </th>
            <th class="w-1/3 px-6 pb-4 text-left text-lg font-medium leading-6 text-knoiz-blanc" scope="col">Free</th>
            <th class="w-1/3 px-6 pb-4 text-left text-lg font-medium leading-6 text-knoiz-blanc" scope="col">Plus</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 border-t border-gray-200">
          <tr>
            <th class="py-8 pl-6 pr-6 text-left align-top text-sm font-medium text-knoiz-blanc" scope="row">Pricing</th>
            <td class="h-full py-8 px-6 align-top">
              <div class="flex h-full flex-col justify-between">
                <div>
                  <p>
                    <span class="text-4xl font-bold tracking-tight text-knoiz-blanc">$0</span>
                  </p>
                  <p class="mt-4 text-sm text-knoiz-blanc">Discover the basic features of Knoiz for free, but with some restrictions. Create one personalized playlist per day and access a preview of your Spotify statistics to track your music activity.</p>
                </div>
              </div>
            </td>
            <td class="h-full py-8 px-6 align-top">
              <div class="flex h-full flex-col justify-between">
                <div>
                  <p>
                    <% if @current_user %>
                      <% if @current_user.subscription.stripe_user_id.present? %>
                        <span class="text-4xl font-bold tracking-tight text-knoiz-blanc">$1.99</span>
                        <span class="text-base font-medium text-knoiz-blanc">/wk</span>
                      <% else %>
                        <span class="text-4xl font-bold tracking-tight text-knoiz-blanc">7 days free</span><br>
                        <span class="text-base font-medium text-knoiz-blanc">Then $1.99/wk</span>
                      <% end %>
                    <% else%>
                      <span class="text-4xl font-bold tracking-tight text-knoiz-blanc">7 days free</span><br>
                      <span class="text-base font-medium text-knoiz-blanc">Then $1.99/wk</span>
                    <% end %>
                  </p>
                  <p class="mt-4 text-sm text-knoiz-blanc">Unlock all features with Knoiz Plus and get the ultimate music experience. Access exclusive characteristics to create personalized playlists and track detailed statistics of your Spotify account.</p>
                </div>
                <%= form_with url: '/checkout_session/create', data: { turbo: false } do |form| %>
                  <%= form.submit "Get started today", class: "mt-4 cursor-pointer inline-block w-full rounded-lg bg-knoiz-violet-principale px-4 py-2.5 text-center text-sm font-semibold leading-5 text-white shadow-md hover:bg-knoiz-violet-principale-hover" %>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-knoiz-blanc" scope="row">Create playlists.</th>
            <td class="py-5 px-6">
              <span class="block text-sm text-knoiz-blanc">One per day</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-knoiz-blanc">Unlimited</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-knoiz-blanc" scope="row">Lastly played song.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Plus</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-knoiz-blanc" scope="row">Most listened genres.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Free</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Plus</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-knoiz-blanc" scope="row">Your 50 top Listened.</th>
            <td class="py-5 px-6">
              <span class="block text-sm text-knoiz-blanc">Only five</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Plus</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-knoiz-blanc" scope="row">50 Recently played tracks.</th>
            <td class="py-5 px-6">
              <span class="block text-sm text-knoiz-blanc">Only five</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Plus</span>
            </td>
          </tr>
          <tr>
            <th class="py-5 pl-6 pr-6 text-left text-sm font-normal text-knoiz-blanc" scope="row">Top 50 global charts tracks.</th>
            <td class="py-5 px-6">
              <span class="block text-sm text-knoiz-blanc">Only five</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: mini/check -->
              <svg class="h-5 w-5 text-knoiz-violet-secondaire" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Plus</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
