<div class="h-full flex flex-1 flex-col size2:pl-[328px]">
  <div class="relative w-full flex justify-center">
    <% unless notice.nil? %>
      <%= render 'shared/notification', type: :notice, message: notice, bg_color: 'bg-green-50', text_color: 'text-green-800', btn_color: 'bg-green-50 p-1.5 text-green-500 hover:bg-green-100' %>
    <% end %>
    <% unless flash[:info].nil? %>
      <%= render 'shared/notification', type: :info, message: flash[:info], bg_color: 'bg-yellow-50', text_color: 'text-yellow-800', btn_color: 'bg-yellow-50 p-1.5 text-yellow-500 hover:bg-yellow-100' %>
    <% end %>
    <% unless alert.nil? %>
      <%= render 'shared/notification', type: :alert, message: alert, bg_color: 'bg-red-50', text_color: 'text-red-800', btn_color: 'bg-red-50 p-1.5 text-red-500 hover:bg-red-100' %>
    <% end %>
  </div>
  <div x-data="{id: 1}" class="sticky relative z-10 flex flex-shrink-0">
    <button type="button" @click="$dispatch('open-dropdown',{id})" class="absolute m-4 bg-knoiz-violet-principale rounded-full p-4 text-knoiz-blanc size2:hidden">
      <span class="sr-only">Open sidebar</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>
  <main class="h-screen p-0 size5:p-10">
    <div class="bg-knoiz-gris overflow-y-scroll rounded-none size5:rounded-3xl mx-auto w-full h-full p-10 flex flex-col">
      <%= yield %>
    </div>
  </main>
</div>
