<div class="bg-spotify-noir w-full rounded-3xl">
  <%= render 'shared/stats/header', title: 'Top 50 global charts tracks' %>
  <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 xl:gap-x-8">
    <%= render partial: 'shared/stats/track_partial', locals: { tracks: @top_global_playlist.tracks } %>
  </div>
</div>
